/* *{
  box-sizing: border-box;
}

section {
    display: flexbox;
    border: black, 1pt, solid
}

p {
    color: blue;
}*/

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
